# IntelliJ IDEA files
.idea/

# Maven build directory
target/

# Eclipse files
.settings/

# Gradle build directory
build/

# Compiled Java bytecode files
*.class

# Application properties files
application-*.properties

# Log files
*.log

# Test report files
/TEST-*.xml

# Coverage report files
/coverage/
*.gc*

# External configuration files
*.yml
*.properties

# IntelliJ IDEA code analysis files
*.iws
*.iml
*.ipr

# OS-specific files
.DS_Store
Thumbs.db

# Maven wrapper files
mvnw
mvnw.cmd
.mvn/
gradlew
gradlew.bat


# Vite build directory
/dist/

# Node.js dependencies
/node_modules/
